.main{
    min-height: 100vh;
    padding: 5rem 10rem;
    background-color: #f7f0f5;
    overflow: hidden;
}

@media (max-width: 1600px) {
    .main {
        padding: 5rem 10rem;
    }
}

@media (max-width: 1250px) {
    .main {
        padding: 4rem 7rem;
    }
}

@media (max-width: 1000px) {
    .main {
        padding: 4rem 5rem;
    }
}

@media (max-width: 750px) {
    .main {
        padding: 4rem 3rem;
    }
}